node-red-flow.json
[
    {
        "id": "89c0370d032024be",
        "type": "tab",
        "label": "Estação ESP32",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a77f22267a8db621",
        "type": "mqtt in",
        "z": "89c0370d032024be",
        "name": "MQTT Temperatura",
        "topic": "MOISES/ESP3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ab515615435ad5f7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 100,
        "wires": [["f1a2b3c4d5e6a7b8", "573969644261028b"]]
    },
    {
        "id": "2084ca55dc7c3961",
        "type": "mqtt in",
        "z": "89c0370d032024be",
        "name": "MQTT Umidade",
        "topic": "MOISES/ESP3/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ab515615435ad5f7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 200,
        "wires": [["f2a3b4c5d6e7b8c9", "15ea7a95e193fccd"]]
    },
    {
        "id": "f1a2b3c4d5e6a7b8",
        "type": "function",
        "z": "89c0370d032024be",
        "name": "Extrair temperatura + status",
        "func": "var o = {};\nvar msgChart = {};\nvar msgStatus = {};\ntry {\n  o = typeof msg.payload === 'string' ? JSON.parse(msg.payload) : msg.payload;\n  var temp = Number(o.temperature);\n  if (isNaN(temp)) temp = 0;\n  msgChart.payload = temp;\n  msgChart.topic = 'Temperatura';\n  msgStatus.payload = (o.device_id || 'N/A') + ' • ' + new Date().toLocaleString('pt-BR');\n  msgStatus.topic = 'status';\n  var msgAlert = { payload: temp };\n  return [ [ msgChart, msgAlert ], [ msgStatus ] ];\n} catch (e) {\n  msgChart.payload = 0;\n  msgChart.topic = 'Temperatura';\n  return [ [ msgChart ], [] ];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 100,
        "wires": [
            ["07a14c6d6b462e50", "158f026a32c4e68c", "alert_temp_check", "text_temp_big"],
            ["status_text_node"]
        ]
    },
    {
        "id": "f2a3b4c5d6e7b8c9",
        "type": "function",
        "z": "89c0370d032024be",
        "name": "Extrair umidade + status",
        "func": "var o = {};\nvar msgChart = {};\nvar msgStatus = {};\ntry {\n  o = typeof msg.payload === 'string' ? JSON.parse(msg.payload) : msg.payload;\n  var hum = Number(o.humidity);\n  if (isNaN(hum)) hum = 0;\n  msgChart.payload = hum;\n  msgChart.topic = 'Umidade';\n  msgStatus.payload = (o.device_id || 'N/A') + ' • ' + new Date().toLocaleString('pt-BR');\n  return [ [ msgChart ], [ msgStatus ] ];\n} catch (e) {\n  msgChart.payload = 0;\n  msgChart.topic = 'Umidade';\n  return [ [ msgChart ], [] ];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 200,
        "wires": [
            ["f8d35c80268501dc", "0cb0d53ee1636976", "text_hum_big"],
            ["status_text_node"]
        ]
    },
    {
        "id": "alert_temp_check",
        "type": "function",
        "z": "89c0370d032024be",
        "name": "Alertas temperatura",
        "func": "var t = Number(msg.payload);\nif (isNaN(t)) return null;\nif (t > 28) return { payload: 'Temperatura alta: ' + t.toFixed(1) + ' °C' };\nif (t < 20) return { payload: 'Temperatura baixa: ' + t.toFixed(1) + ' °C' };\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 100,
        "wires": [[]]
    },
    {
        "id": "573969644261028b",
        "type": "debug",
        "z": "89c0370d032024be",
        "name": "Debug Temp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 60,
        "wires": []
    },
    {
        "id": "15ea7a95e193fccd",
        "type": "debug",
        "z": "89c0370d032024be",
        "name": "Debug Hum",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 240,
        "wires": []
    },
    {
        "id": "inj_header_001",
        "type": "inject",
        "z": "89c0370d032024be",
        "name": "Carregar header",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 340,
        "wires": [["tpl_header_001"]]
    },
    {
        "id": "tpl_header_001",
        "type": "ui_template",
        "z": "89c0370d032024be",
        "group": "grp_header",
        "name": "Header",
        "order": 0,
        "width": "12",
        "height": "2",
        "format": "<div style=\"text-align:center; padding: 16px; background: linear-gradient(135deg, #1a237e 0%, #3949ab 100%); color: #fff; border-radius: 8px;\"><h2 style=\"margin: 0 0 4px 0; font-size: 1.5em;\">Estação Meteorológica ESP32</h2><p style=\"margin: 0; opacity: 0.9; font-size: 0.85em;\">DHT11 • MQTT • Node-RED</p></div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 400,
        "y": 340,
        "wires": [[]]
    },
    {
        "id": "status_text_node",
        "type": "ui_text",
        "z": "89c0370d032024be",
        "group": "grp_status",
        "order": 0,
        "width": "12",
        "height": "1",
        "name": "Status",
        "label": "Dispositivo • Última atualização",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 680,
        "y": 320,
        "wires": []
    },
    {
        "id": "07a14c6d6b462e50",
        "type": "ui_gauge",
        "z": "89c0370d032024be",
        "group": "grp_readings",
        "order": 0,
        "width": "6",
        "height": "3",
        "name": "Gauge Temperatura",
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{msg.payload | number:1}}",
        "min": 0,
        "max": "50",
        "colors": ["#1b5e20", "#ffeb3b", "#b71c1c"],
        "seg1": "20",
        "seg2": "28",
        "diff": false,
        "className": "",
        "x": 680,
        "y": 420,
        "wires": []
    },
    {
        "id": "0cb0d53ee1636976",
        "type": "ui_gauge",
        "z": "89c0370d032024be",
        "group": "grp_readings",
        "order": 1,
        "width": "6",
        "height": "3",
        "name": "Gauge Umidade",
        "gtype": "wave",
        "title": "Umidade",
        "label": "%",
        "format": "{{msg.payload | number:1}}",
        "min": 0,
        "max": "100",
        "colors": ["#0d47a1", "#1976d2", "#42a5f5"],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 680,
        "y": 500,
        "wires": []
    },
    {
        "id": "text_temp_big",
        "type": "ui_text",
        "z": "89c0370d032024be",
        "group": "grp_readings",
        "order": 2,
        "width": "6",
        "height": "1",
        "name": "Valor temp",
        "label": "",
        "format": "<strong style=\"font-size: 1.8em; color: #1565c0;\">{{msg.payload | number:1}} °C</strong>",
        "layout": "col-center",
        "className": "",
        "x": 680,
        "y": 580,
        "wires": []
    },
    {
        "id": "text_hum_big",
        "type": "ui_text",
        "z": "89c0370d032024be",
        "group": "grp_readings",
        "order": 3,
        "width": "6",
        "height": "1",
        "name": "Valor umidade",
        "label": "",
        "format": "<strong style=\"font-size: 1.8em; color: #0d47a1;\">{{msg.payload | number:1}} %</strong>",
        "layout": "col-center",
        "className": "",
        "x": 680,
        "y": 640,
        "wires": []
    },
    {
        "id": "158f026a32c4e68c",
        "type": "ui_chart",
        "z": "89c0370d032024be",
        "group": "grp_charts",
        "order": 0,
        "width": "6",
        "height": "4",
        "name": "Chart Temperatura",
        "label": "Temperatura (°C)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Aguardando dados...",
        "dot": true,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#c62828", "#ef5350", "#e57373"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 720,
        "wires": [[]]
    },
    {
        "id": "f8d35c80268501dc",
        "type": "ui_chart",
        "z": "89c0370d032024be",
        "group": "grp_charts",
        "order": 1,
        "width": "6",
        "height": "4",
        "name": "Chart Umidade",
        "label": "Umidade (%)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Aguardando dados...",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1565c0", "#42a5f5", "#90caf9"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 800,
        "wires": [[]]
    },
    {
        "id": "6f2de3e451b6dee7",
        "type": "ui_switch",
        "z": "89c0370d032024be",
        "name": "Switch LED",
        "label": "LED GPIO 22",
        "tooltip": "Liga ou desliga o LED no ESP32",
        "group": "grp_led",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "led",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 240,
        "y": 920,
        "wires": [["af4a7cf7e5711cbc"]]
    },
    {
        "id": "af4a7cf7e5711cbc",
        "type": "mqtt out",
        "z": "89c0370d032024be",
        "name": "MQTT LED",
        "topic": "MOISES/ESP3/led",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c5404a5a74bc224d",
        "x": 500,
        "y": 920,
        "wires": []
    },
    {
        "id": "d60abff4a1118b79",
        "type": "ui_button",
        "z": "89c0370d032024be",
        "name": "LED ON",
        "group": "grp_led",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "LED ON",
        "tooltip": "Acende o LED",
        "color": "",
        "bgcolor": "#2e7d32",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "led",
        "topicType": "str",
        "x": 240,
        "y": 980,
        "wires": [["c1c30577bbeeae1e"]]
    },
    {
        "id": "c1c30577bbeeae1e",
        "type": "mqtt out",
        "z": "89c0370d032024be",
        "name": "",
        "topic": "MOISES/ESP3/led",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c5404a5a74bc224d",
        "x": 480,
        "y": 980,
        "wires": []
    },
    {
        "id": "dbf45ef963bf1dff",
        "type": "ui_button",
        "z": "89c0370d032024be",
        "name": "LED OFF",
        "group": "grp_led",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "LED OFF",
        "tooltip": "Apaga o LED",
        "color": "",
        "bgcolor": "#c62828",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "led",
        "topicType": "str",
        "x": 240,
        "y": 1040,
        "wires": [["7f3caefafad28b5f"]]
    },
    {
        "id": "7f3caefafad28b5f",
        "type": "mqtt out",
        "z": "89c0370d032024be",
        "name": "",
        "topic": "MOISES/ESP3/led",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c5404a5a74bc224d",
        "x": 480,
        "y": 1040,
        "wires": []
    },
    {
        "id": "ab515615435ad5f7",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "NodeRED-MeuPC",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "grp_header",
        "type": "ui_group",
        "name": " ",
        "tab": "ui_tab1",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "grp_readings",
        "type": "ui_group",
        "name": "Leituras atuais",
        "tab": "ui_tab1",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "grp_charts",
        "type": "ui_group",
        "name": "Gráficos",
        "tab": "ui_tab1",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "grp_led",
        "type": "ui_group",
        "name": "Controle LED",
        "tab": "ui_tab1",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "grp_status",
        "type": "ui_group",
        "name": "Status",
        "tab": "ui_tab1",
        "order": 5,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "c5404a5a74bc224d",
        "type": "mqtt-broker",
        "name": "Mosquitto LED",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ui_tab1",
        "type": "ui_tab",
        "name": "Estação ESP32",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "12c0ee84526fd3ac",
        "type": "global-config",
        "env": [],
        "modules": {"node-red-dashboard": "3.6.5"}
    }
]
